<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    ustawianie autoproxy w xmlu - przy implementacji interfejsu przez klase beana: -->
<!--    albo wyciągamy z kontekstu zwracajac beana przez interfejs-->
<!--    albo wyskakuje bład i trzeba ustawić to ponizej: (w xmlu lub w klasie konfiguracyjnej)-->

<!--    to ustawia proxy-target-class="true" we wszytkich klasach z adnotacja aspect-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

<!--    to ustawia aspekty tworzone wewnątrz tego znacznika ponizej-->
    <aop:config proxy-target-class="true"/>

</beans>
